

/* font-family: 'Abril Fatface', cursive;

font-family: 'Lato', sans-serif;
*/



:root {
    --clear-neon: hsl(51, 78%, 80%);
    --color-bg: hsl(203, 7%, 24%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: var(--color-bg);
    font-family: "Abril Fatface", cursive;
    color: var(--clear-neon);
}